/* CSS file for HogWARS game board */
.spellcontainer {
width:22%;
height:475px;
text-align: center;
margin-top: 60px;
}
.avatar {
    width:500px;
    height: 280px;
    inline-size: 150px;
}
.playerHealthBox {
    background-color: white;
    width: -75%;
    height: auto;
    border: 5px solid green;
    border-radius: 14px 0px 14px 0px;
    padding: 5x;
    letter-spacing: -1px;
    inline-size: 300px;
    margin-left: 400px;
}
.playerBox {
    inline-size:0;
    position:relative;
    left: 0px;
    top: 55px;
}

.opponentAvatar {
    margin-left:350px;
    margin-top: -120px;
}
.opponentHealthBox {
    background-color: white;
    height: auto;
    border: 5px solid green;
    border-radius: 14px 0px 14px 0px;
    padding: 5x;
    letter-spacing: -1px;
    inline-size: 300px;
    margin-left: 0px;
}
.opponentBox {
    inline-size:0;
    position:relative;
    left: 200px;
}
.text-box {
    background-color: lightskyblue;
    height: 140px;
    border: 5px solid green;
    border-radius: 14px 0px 14px 0px;
    padding: 5x;
    letter-spacing: -1px;
    inline-size: 300px;
    margin-top: -450px;
    margin-left: 400px;
}